@use "../global/" as *;

.scroll-up {
    position: fixed;
    font-size: 2.5rem;
    color: white;
    background-color: $text-blue;
    border: 3px solid white;
    width: 2rem;
    height: 2rem;
    bottom: 5rem;
    right: 5rem;
    z-index: 20;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    cursor: pointer;

    @media (max-width: 800px){

    }
  }
  
  .show-scroll {
    display: flex;
  }