@use "../global/" as *;

// Navbar Styling
.navbar {
  max-width: 133rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.7rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 99999;
  margin: 0 auto;

  // Img/Logo Styling
  &__img {
    width: 10rem;
    img{
        width: 100%;
        height: 100%;
    }

    @media (max-width: 800px){
      img{
        width: 50%;
        height: 50%;
    }
    }
}
// Home/About etc... Styling
  &__links {
    display: flex;
    gap: 2.5rem;
    list-style: none;

    a {
      font-size: $p-size;
      font-family: $text-font;
      font-weight: 600;
      color: $text-black;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s;
  
        &:hover {
          color: $text-blue;
        }
      }

      @media (max-width: 1000px) {
        display: none;
      }
  }
//Buttons styling
  &__buttons {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 2.5rem;
    font-size: $p-size;
    font-family: $text-font;

    @media (max-width: 1000px) {
        display: none;
      }
  
  &__sign-in {
    color: $text-black;
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
    border-color: transparent;
    font-weight: 600;
    font-size: $p-size;
    font-family: $text-font;

    &:hover{
        color: $text-blue;
    }
  }        

  &__register {
    background-color: $text-blue;
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 3px;
    box-shadow: 0 10px 15px 0 rgba(3, 16, 113, 0.36);
    transition: all 0.3s;
    font-size: $p-size;
    font-weight: 600;
    font-family: $text-font;
    cursor: pointer;
    border-color: transparent;
    
    &:hover {
        box-shadow: 0 10px 15px 0 rgb(3, 16, 113, 0.50);
        background-color: #1261a1;
      }
  }  
  
  a {
    text-decoration: none;
   }
 }
}/* <=== Navbar closed */ 

//  mobile nav

.mobile-hamb {
  font-size: 2.8rem;
  display: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: $text-blue;
  }

  @media (max-width: 1000px) {
    display: flex;
  }
}

.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: $bg-white;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;

  &__close {
    font-size: 3rem;
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: $text-blue;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 2.3rem;
    gap: 3rem;
    text-align: center;

    li {
      a {
        text-decoration: none;
        color: $text-black;
        font-weight: 500;
        transition: all 0.3s;

        &:hover {
          color: $text-blue;
        }
      }
    }
  }
}

.open-nav {
  left: 0;
}